*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#f7fbff;
  color:#222;
}

header{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(255,255,255,0.95);
  backdrop-filter:blur(10px);
  z-index:1000;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

button{
  border: none;
  background: #0b5ed7;
  color: white;
  padding: 16px 38px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #084298;
  transform: translateY(-3px);
}

.contato{
  text-align: center;
}

.contato-box{
  background: white;
  padding: 50px;
  border-radius: 25px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  
}

.contato-box p{
  margin-bottom: 18px;
  font-size: 18px;
}

.logo img{
  width:100px;
}

nav{
  display:flex;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:#333;
  font-weight:500;
  transition:0.3s;
}

nav a:hover{
  color:#0b5ed7;
}

.hero {
  height: 100vh;

  background:
    url("../images/fachada.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.55);
}

.hero-content{
  position:relative;
  text-align:center;
  color:white;
  width:90%;
  max-width:900px;
}

.hero-content h1{
  font-size:65px;
  line-height:1.1;
  margin-bottom:25px;
}

.hero-content p{
  font-size:20px;
  margin-bottom:35px;
}

section{
  padding:110px 8%;
}

.titulo{
  text-align:center;
  margin-bottom:60px;
}

.titulo span{
  color:#0b5ed7;
  font-weight:600;
}

.titulo h2{
  font-size:42px;
  margin-top:10px;
}

.fundadores{
  background:#eef5ff;
}

.fundador{
  display:flex;
  align-items:center;
  gap:50px;
  margin-bottom:80px;
  background:white;
  padding:35px;
  border-radius:25px;
  box-shadow:0 10px 25px rgba(0,0,0,0.06);
}

.reverse{
  flex-direction:row-reverse;
}

.fundador img{
  width:320px;
  height:400px;
  object-fit:cover;
  border-radius:20px;
}

.texto{
  flex:1;
}

.texto h2{
  color:#0b5ed7;
  font-size:38px;
  margin-bottom:10px;
}

.texto h4{
  color:#666;
  margin-bottom:20px;
}

.texto p{
  color:#555;
  line-height:1.8;
  margin-bottom:15px;
}

.destaque{
  background:#0b5ed7;
  color:white;
  padding:25px;
  border-radius:18px;
  margin-top:20px;
}

footer{
  background:#0b5ed7;
  color:white;
  text-align:center;
  padding:25px;
}

@media(max-width:900px){

  .hero-content h1{
    font-size:42px;
  }

  nav{
    display:none;
  }

  .fundador,
  .reverse{
    flex-direction:column;
    text-align:center;
  }

  .fundador img{
    width:100%;
    max-width:350px;
    height:auto;
  }

}

